.spacer-top-24
  .result-title Most Common
  .banks
    .result
      = authentication_form_link(results.first.name.html_safe, results.first.institution_id)
    - if results[1].present?
      .result
        = authentication_form_link(results[1].name.html_safe, results[1].institution_id)
.spacer-top-24
  - if results.size > 2
    .result-title= "All Results (#{pluralize(results.size - 2, 'Match')})"
    %hr
    .banks.result-list
      - results[2..-1].each do |institution|
        .result
          = authentication_form_link(institution.name.html_safe, institution.institution_id)
  %hr
