.reg
  .column-container
    .layout-wrapper
      .layout-inner.height-min-550
        .left-column.no-float
          .steps.first.centered
            .font-p9em.font-lightgray.font-italic Next Steps
          .steps
            .font-slate.mbs Add offers to your wallet.
            .font-p9em.font-w300 Fill your Wallet with offers from our partners, then earn Plink Points when you shop at those partners with your linked card.
          .steps
            .font-slate.mbs Refer a friend.
            .font-p9em.font-w300
              Get 100 Bonus Points for every friend you refer to Plink. Referring friends is easy;
              = link_to 'invite them via Facebook', '#', class:'text-link'
              or send them this link:
            .spacer-top-24
              .font-p9em.font-slate Your Personal Referral Link:
            .spacer-top-8
              .font-p8em https://www.thisisthereferallink.com/23432/2342/aid/2348
          .steps.last
            .font-slate.mbs Get the app.
            .font-p9em.font-w300.mbm Plink on the go with our mobile app for iOS and Android.
            = link_to 'Get the iPhone App', 'http://hastrk1.com/serve?action=click&publisher_id=34596&site_id=30142&offer_id=256246&sub2=card_reg', class:'text-link', target: '_blank'
            %br
            %br
            = link_to 'Get the Android App', 'http://hastrk1.com/serve?action=click&publisher_id=34596&site_id=36714&offer_id=268162&sub2=card_reg', class:'text-link', target: '_blank'
        .right-column.pad-left-86
          .font-p9em.font-lightgray.font-w300.font-italic You're all set.
          .spacer-top-24
            .font-1p5em.font-cyan Congratulations!
          .spacer-top-8
            .font-1p1em.font-w300 You've successfully linked your #{@account_name} to your Plink account.
          .spacer-top-32
            .font-1p1em.font-w500.font-uppercase.font-kern1 What's next?
          .spacer-top-8
            .font-1p1em.font-w300 First thing's first - add offers to your Wallet to start earning Plink Points.
          .spacer-top-24
            .button-container.no-margin.width-170
              = link_to 'Go To My Wallet', wallet_path, {class:'button primary-action'}
          .spacer-top-96
            %hr
          .spacer-top-24
            .font-1p1em.font-w500.font-gray.font-uppercase.font-kern1 Let's Be Friends
          .spacer-top-8
            .font-1p1em.font-w300.font-lightgray Connect your Facebook or Twitter account and be the first to find out about reward bonuses and special offers.
          .mts
            #social-link-widget.gig-btn{style: 'float: left'}

      .clear
= @institution_authenticated_pixel
