%header.header.layout-wrapper
  .layout-inner
    %img{ :class => "header-logo", :src => "/assets/header_logo.png", :alt => "Plink" }
    .welcome-text
      %span.header-text.bold Welcome, Kris!
      %br
      %span.header-text You have 999,999 Plink points.
    %ul.nav-ul
      %li.nav-li
        = link_to 'Wallet', '#', class:'link'
      %li.nav-li
        = link_to 'Rewards', '#', class:'link'
      %li.nav-li.selected
        = link_to 'Contests', '#', class:'link'
      %li.nav-li
        = link_to 'My Account', '#', class:'link'
      %li.nav-li
        = link_to 'Log Out', '#', method: :delete, class:'link logout'

.layout-wrapper
  .layout-inner
    .contests
      %h1 Contests
      %h3.gray Enter once a day until the contest is over. The more you enter, the more you win!

      .contest
        .info
          .title
            %h2.cyan Nonlinked User has not entered
          .image
            %img{:src => "/assets/contests/contests_FPO.jpg"}
          .details
            %h3.strong Prize List - Prizes Drawn 9/9/99
            %p (1) Lorem ipsum dolar (5) sit ament nocturnal (10) Wutang clan ain't nothing to (25) Straight outta Compton, crazy motherf (100) Ball so hard.
            %h4.legal
              NO PURCHASE NECESSARY.
              %a See Contest Rules for details.
              Void where prohibited.
        .enter
          .entries
            %h2 You have
            %h1.cyan 999
            %h2 entries.
            .btn
              %button.button.primary-action.white-txt SHARE TO ENTER
            .details
              %h4 Get 2 entries when you share on Facebook and Twitter
              %h4.bonus.nonlinked
                Get 5x entries per day when you
                %a link a credit or debit card.
        %footer
          %input.checkbox{:type => "checkbox"}
          %h4 Remind me to re-enter this contest via email
          .refer
            Get
            %a 10 EXTRA ENTRIES
            per day for each friend referall
            %a.footnote†

            .btn
              %button.button.nav.tall
                %img{:src => "/assets/icon_refer.png"}

      .contest
        .info
          .title
            %h2.cyan Non-linked User has entered
          .image
            %img{:src => "/assets/contests/contests_FPO.jpg"}
          .details
            %h3.strong Prize List - Prizes drawn on 9/9/99
            %p (1) Lorem ipsum dolar (5) sit ament nocturnal (10) Wutang clan ain't nothing to (25) Straight outta Compton, crazy motherf (100) Ball so hard.
            %h4.legal
              NO PURCHASE NECESSARY.
              %a See Contest Rules for details.
              Void where prohibited.
        .enter
          .entries
            %h2 You have
            %h1.cyan 999
            %h2 entries.
            .btn
              %button.button.primary-action.disabled ENTER TOMORROW
            .details
              %h4 Limit one share per day
              %h4.bonus.nonlinked
                Get 5x entries per day when you
                %a link a credit or debit card.
        %footer
          %input.checkbox{:type => "checkbox"}
          %h4 Remind me to re-enter this contest via email
          .refer
            Get
            %a 10 EXTRA ENTRIES
            per day for each friend referall
            %a.footnote†
            .btn
              %button.button.nav.tall
                %img{:src => "/assets/icon_refer.png"}

      .contest
        .info
          .title
            %h2.cyan Linked User has not entered
          .image
            %img{:src => "/assets/contests/contests_FPO.jpg"}
          .details
            %h3.strong Prize List - Prizes drawn on 9/9/99
            %p (1) Lorem ipsum dolar (5) sit ament nocturnal (10) Wutang clan ain't nothing to (25) Straight outta Compton, crazy motherf (100) Ball so hard.
            %h4.legal
              NO PURCHASE NECESSARY.
              %a See Contest Rules for details.
              Void where prohibited.
        .enter
          .entries
            %h2 You have
            %h1.cyan 999
            %h2 entries.
            .btn
              %button.button.primary-action.white-txt SHARE TO ENTER
            .details
              %h4 Get 10 entries when you share on Facebook and Twitter
            %h4.bonus Because you linked a card to your Plink account, you'll get 5x entries per share.
        %footer
          %input.checkbox{:type => "checkbox"}
          %h4 Remind me to re-enter this contest via email
          .refer
            Get
            %a 50 EXTRA ENTRIES
            per day for each friend referall
            %a.footnote†
            .btn
              %button.button.nav.tall
                %img{:src => "/assets/icon_refer.png"}

      .contest
        .info
          .title
            %h2.cyan User entered with Facebook, but not Twitter
          .image
            %img{:src => "http://plink-images.s3.amazonaws.com/contests/1000giveaway/1000giveaway.jpg"}
          .details
            %h3.strong Prize List - Prizes drawn on 9/9/99
            %p (1) Lorem ipsum dolar (5) sit ament nocturnal (10) Wutang clan ain't nothing to (25) Straight outta Compton, crazy motherf (100) Ball so hard.
            %h4.legal
              NO PURCHASE NECESSARY.
              %a See Contest Rules for details.
              Void where prohibited.
        .enter
          .entries
            %h2 You have
            %h1.cyan 999
            %h2 entries.
            .btn
              %button.button.primary-action.white-txt SHARE ON TWITTER
            .details
              %h4 Get 5 more entries when you share on Twitter.
            %h4.bonus Because you linked a card to your Plink account, you'll get 5x entries per share.
        %footer
          %input.checkbox{:type => "checkbox"}
          %h4 Remind me to re-enter this contest via email
          .refer
            Get
            %a 50 EXTRA ENTRIES
            per day for each friend referall
            %a.footnote†
            .btn
              %button.button.nav.tall
                %img{:src => "/assets/icon_refer.png"}

      .contest
        .info
          .title
            %h2.cyan CONTEST RESULTS
          .image
            %img.disabled{:src => "http://plink-images.s3.amazonaws.com/contests/1000giveaway/1000giveaway.jpg"}
            .overlay-message
              %h1 This contest has ended
          .details
            %h3.strong This contest ended on 9/9/99.
        .enter
          .results
            .details
              %h4 CONTEST WINNERS
            %h2 $250 Gift Card:
            %h2.cyan.margin_bottom Toby R.
            %h2 $100 Gift Card:
            %h2.cyan.margin_bottom Andreas K.
            .results
              %a View the complete list of winners →
            .btn
              %button.button.primary-action.white-txt ENTER NEXT CONTEST

        %footer


