.layout-inner
  .confirm
    .headline
      %h1 Congrats on your loot!
      %h2
        You've succesfully redeemed for a
        %span.h2.bold
          #{plink_currency_format(@reward.amounts.first.dollar_award_amount)} #{@reward.name}.
    .details
      %h3= @reward.description.html_safe
      %br
      = link_to "Go To My Wallet >", wallet_path
    .share
      %h3
        %span.h3.bold Tell your friends
        about the awesome loot you earned.
      .share-btn
        %button.button.nav.sign-in{ href: referrer_url(user_id: current_user.id, affiliate_id: Rails.application.config.default_affiliate_id),
          data: { 'share-widget' => true,
                  'title' => "I just redeemed a #{plink_currency_format(@reward.amounts.first.dollar_award_amount)} #{@reward.name} from Plink!",
                  'description' => share_message_body,
                  'image' => 'http://plink-images.s3.amazonaws.com/plink_logo/90x90.jpg'} }
          Share
    %hr
    .legal
      %h3.gray Legal Stuff
      %h4= @reward.terms.html_safe
