.layout-inner
  .confirm
    .headline
      %h1 Congrats on your loot!
      %h2
        You've succesfully redeemed for a
        %span.h2.bold
          #{plink_currency_format(@reward.amounts.first.dollar_award_amount)} #{@reward.name.html_safe}.
    .details
      - if @reward.deliver_by_email?
        %h3 Your Plink reward will be delivered to your Plink-registered email in 1-3 days, unless otherwise specified in the Terms of the gift card description.
      - else
        %h3  #{@reward.name.html_safe} gift cards will be delivered via USPS. Please look for your gift card to arrive in the mail within a week of your redemption.
      %br
      %h3= @reward.description.html_safe
      %br
      = link_to "Go To My Wallet >", wallet_path
    .share
      %h3
        %span.h3.bold Tell your friends
        about the awesome loot you earned.
      .share-btn
        %button.button.nav.sign-in{ href: referrer_url(user_id: current_user.id, affiliate_id: Rails.application.config.default_affiliate_id),
          data: { 'share-widget' => true,
                  'title' => "I just redeemed a #{plink_currency_format(@reward.amounts.first.dollar_award_amount)} #{@reward.name} from Plink!",
                  'description' => t('application.referral.description'),
                  'image' => 'http://plink-images.s3.amazonaws.com/plink_logo/90x90.jpg'} }
          Share
    %hr
    .legal
      %h3.gray Legal Stuff
      %h4= @reward.terms.html_safe
