.style-guide
  %h1 Style Guide

  %section
    %h2 Links

    %section
      %h3 Text Links

      %section
        %a.text-link This is a text link.

  %section
    %h2 Header

    %section
      %h3 Members
      %header.header.layout-wrapper
        .layout-inner
          %img{ :class => "header-logo", :src => "/assets/header_logo.png", :alt => "Plink" }
          .welcome-text
            %span.header-text.bold Welcome, Kris!
            %br
            %span.header-text You have 999,999 Plink points.
          %ul.nav-ul
            %li.nav-li.selected
              = link_to 'Dashboard', '#', class:'link'
            %li.nav-li
              = link_to 'Wallet', '#', class:'link'
            %li.nav-li
              = link_to 'Rewards', '#', class:'link'
            %li.nav-li
              = link_to 'My Account', '#', class:'link'
            %li.nav-li
              = link_to 'Log Out', '#', method: :delete, class:'link logout'


      %h3 Guests
      %header.header.layout-wrapper
        .layout-inner
          %img{ :class => "header-logo", :src => "/assets/header_logo.png", :alt => "Plink" }
          .header-button

            = link_to 'Join', '#', class:'link button nav join'
          .header-button
            = link_to 'Sign In', '#', class:'link button nav sign-in'
          .header-button-social.last
            %img{ :src => "/assets/icon_twitter.png", :alt => "Follow Plink on Twitter"}
          .header-button-social
            %img{ :src => "/assets/icon_fb.png", :alt => "Like Plink on Facebook"}
          .header-button-social
            %span.header-text Let's be friends.

  %section
    %h2 Hero Gallery
    %h3 ** change the background color relative to the currently visible image?

    %section
      .hero-gallery
        .hero-gallery-inner
          %ul.bjqs
            %li.bjqs-slide
              %img{ :src => "/assets/hero-gallery/bk_1.jpg", :title => "Get Double Points at Burger King"}
            %li.bjqs-slide
              %img{ :src => "/assets/hero-gallery/TacoBell_2.jpg", :title => "New Partner - Taco Bell"}
            %li.bjqs-slide
              %img{ :src => "/assets/hero-gallery/7eleven_2.jpg", :title => "7-Eleven = AMAZING HOTDOGS"}

  :javascript
    jQuery(function () {
      $('.hero-gallery-inner').bjqs({
            width       : 1800,
            height      : 380,
            responsive  : true
          });
    });


  %section
    %h2 Buttons

    %section
      %h3 Primary Action Button

      %section
        %h4 Default

        %button.button.primary-action Start Earning Rewards

        %h4 Default - href
        %a.button.primary-action{href: '#'} Start Earning Rewards

        %h4 Hover

        %button.button.primary-action.narrow.hover Start Earning Rewards

        %h4 Active

        %button.button.primary-action.narrow.active Start Earning Rewards

        %h4 Disabled

        %button.button.primary-action.narrow.disabled Start Earning Rewards


        %h4 large
        %button.button.primary-action.large Start Earning Rewards

        %h4 large - href
        %a.button.primary-action.large{href: '#'} Start Earning Rewards

      %h3 Social Button - Facebook

      %section

        %h4 Default

        %button.button.social-action.facebook Join with Facebook

        %h4 Hover

        %button.button.social-action.facebook.hover Join with Facebook

        %h4 Active

        %button.button.social-action.facebook.active Join with Facebook

        %h4 Disabled

        %button.button.social-action.facebook.disabled Join with Facebook

      %h3 Social Button - twitter

      %section

        %h4 Default

        %button.button.social-action.twitter Join with Twitter

        %h4 Hover

        %button.button.social-action.twitter.hover Join with Twitter

        %h4 Active

        %button.button.social-action.twitter.active Join with Twitter

        %h4 Disabled

        %button.button.social-action.twitter.disabled Join with Twitter

      %h3 Social Button - Email

      %section

        %h4 Default

        %button.button.social-action.email Join with Email

        %h4 Hover

        %button.button.social-action.email.hover Join with Email

        %h4 Active (this state will remain visible after click)

        %button.button.social-action.email.active Join with Email

        %h4 Disabled

        %button.button.social-action.email.disabled Join with Email


  %section
    %h2 Forms

    %section

      %h3 Input Field

      %section

        %h4 Default

        %input.form-field.input{:value => 'First Name'}

        %h4 Focus

        %input.form-field.input.focus{:value => ''}

        %h4 Error

        %input.form-field.input.error{:value => 'Toby Rumans'}

        %h4 Error - focus

        %input.form-field.input.error.focus{:value => 'Toby Rumans'}

        %h4 Error - after focus remove the error class with javascript

        %input.form-field.input{:value => 'Toby Rumans'}


  %section
    %h2 Typography
    %section

      %h3 Modal
      %section

        %h4 H1
        %span.font.modal-text.h1 Join Plink

        %h4 H2
        %span.font.modal-text.h2 Your days of not earning unlimited rewards are over.

        %h4 H3
        %span.font.modal-text.h3 Offer details

        %h4 H3 Bold
        %span.font.modal-text.h3.bold CURRENT OFFERS

        %h4 H4
        %span.font.modal-text.h4 Already a member? ...

      %h3 Error
      %section

        %span.font.error First name is not valid - DO NOT USE YET

      %h3 Dashboard
      %section
        %h4 H1
        %span.font.dashboard-text.h1.cyan  Cyan
        %br
        %span.font.dashboard-text.h1.slate  Slate

        %h4 H2
        %span.font.dashboard-text.h2  Default
        %br
        %span.font.dashboard-text.h2.cyan  Cyan
        %br
        %span.font.dashboard-text.h2.slate  Slate
        %br
        %span.font.dashboard-text.h2.bold  Bold

        %h4 H3
        %span.font.dashboard-text.h3  Default


      %h3 Legal
      %section

        %p.font.legal This is some legal text.  It's super fun and I still can't beleive that Jesus Shuttlesworth no-call on Ginobli last night in OT.  Total BS.



  %section
    %h2 Skins
    %section

      %h3 Join
      .modal
        %img{ :class => "close-btn", :src => "/assets/btn_close.png", :alt => "Close" }
        %p.font.modal-text.h1 Join Plink
        %p.font.modal-text.h2 Your days of not earning unlimited rewards are over.
        .bg-element
        %p.font.modal-text.h4
          %a.text-link Already have an account?

      %h3 Sign In
      .modal
        %img{ :class => "close-btn", :src => "/assets/btn_close.png", :alt => "Close" }
        %p.font.modal-text.h4 How do you want to sign in?
        .bg-element
          .sign-in-element.last
            %img{ :src => "/assets/btn_gigya_email.gif", :alt => "Sign in with an Email Address"}
        %p.font.modal-text.h4
          %a.text-link Forgot your password?
        %br
        %p.font.modal-text.h4
          Don't have an account?
          %a.span.text-link Join Plink

      %h3 Sign In - Email
      .modal
        %img{ :class => "close-btn", :src => "/assets/btn_close.png", :alt => "Close" }
        %p.font.modal-text.h4 How do you want to sign in?
        .bg-element
          .sign-in-element
            %img{ :src => "/assets/btn_gigya_email.gif", :alt => "Sign in with an Email Address"}
          .sign-in-element
            %input.form-field.input{:value => 'Email'}
          .sign-in-element
            %input.form-field.input{:value => 'Password'}
          .sign-in-element.last
            %button.button.primary-action Sign In
        %p.font.modal-text.h4
          %a.text-link Forgot your password?
        %br
        %p.font.modal-text.h4
          Don't have an account?
          %a.span.text-link Join Plink

      %h3 Offer Details
      .wallet
        .modal
          .offer-details
            %img{ :class => "close-btn", :src => "/assets/btn_close.png", :alt => "Close" }
            %img{ :class => "'offer-logo", :src =>"/assets/wallet-logos/burgerking.png", :alt => "Old Navy"}
            .bg-element
              .offer-points
                %h1 5000
                %h2 Plink Points when you spend $500
              .offer-points
                %h1 300
                %h2 Plink Points when you spend $30
              .offer-points
                %h1 100
                %h2 Plink Points when you spend $10
              .expiration-date This offer expires on 9/9/99
            %button.button.primary-action.narrow ADD TO MY WALLET
            .offer-description
              %p.font.modal-text.h2 Description field lorem ipsum dolar sit ament non sic transit gloria I always wanted to be in one of your stupid plays, Fischer.
            .legal-text
              %p.font.legal Offer valid in-store only. Offer not valid for online purchases. $20 minimum purchase required to qualify. $20 minimum must be reached in a single transaction. Offer can be redeemed multiple times within award period. On average, you will receive notification of your Plink Points award with 2-5 days of when the purchase occurred, due to bank and credit card processing.

      %h3 Offer Details - Expiring
      .wallet
        .modal
          .offer-details
            %img{ :class => "close-btn", :src => "/assets/btn_close.png", :alt => "Close" }
            %img{ :class => "'offer-logo", :src =>"/assets/wallet-logos/burgerking.png", :alt => "Old Navy"}
            .bg-element
              .offer-points
                %h1 5000
                %h2 Plink Points when you spend $500
              .offer-points
                %h1 300
                %h2 Plink Points when you spend $30
              .offer-points
                %h1 100
                %h2 Plink Points when you spend $10
              .expiration-date.soon This offer expires on 9/9/99
            %button.button.primary-action.narrow ADD TO MY WALLET
            .offer-description
              %p.font.modal-text.h2 Description field lorem ipsum dolar sit ament non sic transit gloria I always wanted to be in one of your stupid plays, Fischer.
            .legal-text
              %p.font.legal Offer valid in-store only. Offer not valid for online purchases. $20 minimum purchase required to qualify. $20 minimum must be reached in a single transaction. Offer can be redeemed multiple times within award period. On average, you will receive notification of your Plink Points award with 2-5 days of when the purchase occurred, due to bank and credit card processing.

      %h3 Offer Details - Promo
      .wallet
        .modal
          .offer-details
            %img{ :class => "close-btn", :src => "/assets/btn_close.png", :alt => "Close" }
            .modal-ribbon.ribbon-promo-offer Get double points when you make a qualifying purchase at this partner.
            %img{ :class => "offer-logo", :src =>"/assets/wallet-logos/burgerking.png", :alt => "Old Navy"}
            .bg-element
              .offer-points
                %h1 5000
                %h2 Plink Points when you spend $500
              .offer-points
                %h1 300
                %h2 Plink Points when you spend $30
              .offer-points
                %h1 100
                %h2 Plink Points when you spend $10
              .expiration-date This offer expires on 9/9/99
            .message.promo
              Get DOUBLE POINTS at this partner, now through July 27th.
            %button.button.primary-action.narrow ADD TO MY WALLET
            .offer-description
              %p.font.modal-text.h2 Description field lorem ipsum dolar sit ament non sic transit gloria I always wanted to be in one of your stupid plays, Fischer.
            .legal-text
              %p.font.legal Offer valid in-store only. Offer not valid for online purchases. $20 minimum purchase required to qualify. $20 minimum must be reached in a single transaction. Offer can be redeemed multiple times within award period. On average, you will receive notification of your Plink Points award with 2-5 days of when the purchase occurred, due to bank and credit card processing.

      %h3 Offer Details - New
      .wallet
        .modal
          .offer-details
            %img{ :class => "close-btn", :src => "/assets/btn_close.png", :alt => "Close" }
            .modal-ribbon.ribbon-new-offer New Partner!
            %img{ :class => "wallet-logo", :src =>"/assets/wallet-logos/burgerking.png", :alt => "Old Navy"}
            .bg-element
              .offer-points
                %h1 5000
                %h2 Plink Points when you spend $500
              .offer-points
                %h1 300
                %h2 Plink Points when you spend $30
              .offer-points
                %h1 100
                %h2 Plink Points when you spend $10
              .expiration-date This offer expires on 9/9/99
            %button.button.primary-action.narrow ADD TO MY WALLET
            .offer-description
              %p.font.modal-text.h2 Description field lorem ipsum dolar sit ament non sic transit gloria I always wanted to be in one of your stupid plays, Fischer.
            .legal-text
              %p.font.legal Offer valid in-store only. Offer not valid for online purchases. $20 minimum purchase required to qualify. $20 minimum must be reached in a single transaction. Offer can be redeemed multiple times within award period. On average, you will receive notification of your Plink Points award with 2-5 days of when the purchase occurred, due to bank and credit card processing.

      %h3 Offer Details - Full Wallet
      .wallet
        .modal
          .offer-details
            %img{ :class => "close-btn", :src => "/assets/btn_close.png", :alt => "Close" }
            %img{ :class => "wallet-logo", :src =>"/assets/wallet-logos/regal.png", :alt => "Old Navy"}
            .bg-element
              .offer-points
                %h1 5000
                %h2 Plink Points when you spend $500
              .offer-points
                %h1 300
                %h2 Plink Points when you spend $30
              .offer-points
                %h1 100
                %h2 Plink Points when you spend $10
              .expiration-date This offer expires on 9/9/99
            .message.full
              You don't have any open slots in your Plink Wallet.  To add this offer, remove one of the offers currently in your Plink Wallet.
            .offer-description
              %p.font.modal-text.h2 Description field lorem ipsum dolar sit ament non sic transit gloria I always wanted to be in one of your stupid plays, Fischer.
            .legal-text
              %p.font.legal Offer valid in-store only. Offer not valid for online purchases. $20 minimum purchase required to qualify. $20 minimum must be reached in a single transaction. Offer can be redeemed multiple times within award period. On average, you will receive notification of your Plink Points award with 2-5 days of when the purchase occurred, due to bank and credit card processing.

      %h3 Reward Confirmation
      .modal
        %img{ :class => "close-btn", :src => "/assets/btn_close.png", :alt => "Close" }
        .reward-modal
          .img
            %img{ :src => "/assets/gift-cards/amazon.png", :alt => "Amazon Gift Card"}
          .text
            %h1 $5 Amazon.com Gift Card
            %h2 You're about to redeem 500 Plink Points for a $5 Amazon.com Gift Card.
          %br
          .btn-wrapper
            .btn.first
              %button.button.secondary-action CANCEL
            .btn
              %a.button.primary-action CONFIRM
          .terms
            %a.terms-link Terms & Conditions

      %h3 Reward Confirmation - Expanded Terms
      .modal
        %img{ :class => "close-btn", :src => "/assets/btn_close.png", :alt => "Close" }
        .reward-modal
          .img
            %img{ :src => "/assets/gift-cards/amazon.png", :alt => "Amazon Gift Card"}
          .text
            %h1 $5 Amazon.com Gift Card
            %h2 You're about to redeem 500 Plink Points for a $5 Amazon.com Gift Card.
          %br
          .btn-wrapper
            .btn.first
              %button.button.secondary-action CANCEL
            .btn
              %button.button.primary-action CONFIRM
          .terms
            %a.terms-link Terms & Conditions
            %h3 Terms and conditions are my favorite thing to lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupi excelsior!

      %h3 Locked Slot Info
      .modal
        .locked-slot-info
          %img{ :class => "close-btn", :src => "/assets/btn_close.png", :alt => "Close" }
          %p.font.modal-text.h1.slate This slot will unlock after your first qualified partner purchase* OR the first time you refer a friend** to Plink.
          %br
          %p.font.modal-text.h2 *A purchase is considered 'qualified' when it meets or exceeds the minimum spend requirement and is in your Plink Wallet at the time of the purchase.
          %br
          %p.font.modal-text.h2 **A friend is considered 'referred' when he or she joins Plink and links a card.

      %h3 Non-member Contest Entry Interstitial
      = render partial: 'style_guide/contests/guest_interstitial'



  %section
    %h2 Wallet

    %section
      %h3 Logged Out - Headline

      .wallet
        %h2 Earn Plink points at these locations.

      %h3 Offer - Logged Out
      .wallet
        .offer
          .offer-inner
            .brand
              %img{ :src =>"/assets/wallet-logos/oldnavy.png", :alt => "Old Navy"}
            .info
              %h3 up to
              %h1.numbers 1200
              %h3 Plink points
              %button.button.wallet-add DETAILS

        .offer
          .offer-inner
            .brand
              %img{ :src =>"/assets/wallet-logos/bk-cropped.png", :alt => "Burger King"}
            .info
              %h3 up to
              %h1.numbers 150
              %h3 Plink points
              %button.button.wallet-add DETAILS

        .offer
          .offer-inner
            .brand
              %img{ :src =>"/assets/wallet-logos/gap.png", :alt => "Gap"}
            .info
              %h3 up to
              %h1.numbers 2500
              %h3 Plink points
              %button.button.wallet-add DETAILS

      %h3 Offer - Logged In

      .wallet
        .offer
          .offer-inner
            .brand
              %img{ :src =>"/assets/wallet-logos/dunkindonuts.png", :alt => "Dunkin' Donuts"}
            .info
              %h3 up to
              %h1.numbers 1200
              %h3 Plink points
              %button.button.wallet-add ADD TO WALLET

      %h3 Offer - Promo Flag

      .wallet
        .offer
          .ribbon.ribbon-promo-offer Get double points when you make a qualifying purchase at this partner.
          .offer-inner
            .brand
              %img{ :src =>"/assets/wallet-logos/arbys.png", :alt => "Arby's"}
            .info
              %h3 up to
              %h1.numbers 150
              %h3 Plink points
              %button.button.wallet-add ADD TO WALLET

      %h3 Offer - New

      .wallet
        .offer
          .ribbon.ribbon-new-offer New Partner!
          .offer-inner
            .brand
              %img{ :src =>"/assets/wallet-logos/arbys.png", :alt => "Arby's"}
            .info
              %h3 up to
              %h1.numbers 150
              %h3 Plink points
              %button.button.wallet-add ADD TO WALLET

      %h3 Offer - Expiring

      .wallet
        .offer
          .expiring-flag
            %p Expiring
          .offer-inner
            .brand
              %img{ :src =>"/assets/wallet-logos/burgerking.png", :alt => "Arby's"}
            .info
              %h3 up to
              %h1.numbers 150
              %h3 Plink points
              %button.button.wallet-add ADD TO WALLET

      %h3 Wallet Slot - Empty

      .wallet
        .slot
          %img{ :class => "img", :src =>"/assets/icon_emptyslot.png", :alt => "Empty Slot"}
          .text
            %h3.bold This slot is empty.
            %h3 Select an offer to start earning Plink points.

      %h3 Wallet Slot - Locked

      .wallet
        .slot.locked
          %img{ :class => "img", :src =>"/assets/icon_lockedslot.png", :alt => "Locked Slot"}
          .text
            %h3.bold This slot is locked.
            %h3 Refer a friend to unlock this slot.

        .slot.locked
          %img{ :class => "img", :src =>"/assets/icon_lockedslot.png", :alt => "Locked Slot"}
          .text
            %h3.bold This slot is locked.
            %h3 Complete an offer or refer a friend to unlock this slot.

      %h3 Wallet Slot - Filled

      .wallet
        .slot
          .slot-inner
            .brand
              %img{ :src =>"/assets/wallet-logos/dunkindonuts.png", :alt => "Dunkin' Donuts"}
            .info
              %h3 up to
              %h1.numbers 150
              %h3 Plink points
              %button.button.wallet-remove Remove


  %section
    %h2 Dashboard

    %section
      %h3 Left Column

      .dashboard
        .left-column
          .flag.profile
            %img{ :class => "profile-img", :src => "/assets/profile.jpg", :alt => "Kris"}
            %h1 kris
          %h2.cyan Level 3
          %h2 9,999,999 EBs
          .content
            %button.button.social-action.facebook Connect Facebook
          .flag
            %h2.white FRIENDS (XXX)
          .content
            %a.invite
              %img{ :class => "invite-img", :src => "/assets/icon-addfriend-blue.jpg", :alt => "Add A Friend"}
              %span.h2 INVITE A FRIEND
            .friends-img-wrapper
              %a.friends-img Invite Friends
            .friends-img-wrapper
              %a.friends-img Invite Friends
            .friends-img-wrapper
              %a.friends-img Invite Friends
            .friends-img-wrapper
              %a.friends-img Invite Friends
            .friends-img-wrapper
              %a.friends-img Invite Friends
            .friends-img-wrapper
              %a.friends-img Invite Friends
            .friends-img-wrapper
              %a.friends-img Invite Friends
            .friends-img-wrapper
              %a.friends-img Invite Friends

          .flag
            %h2.white RECENT ACTIVITY


  %section
    %h2 My Account

    %section
      %h3 Left Column

      = render partial: 'style_guide/account/left_column'

      %br
      %h3 Change Setting Fields
      .account
        .left-column
          .flag
            %h2.white SETTINGS
          .content
            %h4 Account Status
            %img{ :class => "status-img", :src => "/assets/icon_alert_pink.png", :alt => "Your account is inactive"}
            %h3.pink Inactive
            %a Reverify
          %hr
          .content
            %h4 Account Status
            %img{ :class => "status-img", :src => "/assets/icon_alert_pink.png", :alt => "You haven't linked a card yet"}
            %h3.pink You haven't linked a card yet.
            %a Link a card
          %hr
          .content
            %h4 Email
            %h3.bold kris@plink.com
            %a Change
            .change
              .field
                %h2 Enter your new email address:
                %input.form-field.input{:value => 'New Email Address'}
              .field
                %h2 Enter your password:
                %input.form-field.input{:value => 'Password'}
              .cancel-btn
                %button.button.secondary-action Cancel
              .submit-btn
                %button.button.primary-action Change Your Email
          %hr
          .content
            %h4 Email Preferences
            %input.checkbox{:type => "checkbox"}
            %label.label I want to hear about deals and promotions from Plink via email.
          %hr
          .content
            %h4 Password
            %h3.bold ******
            %a Change
            .change
              .field
                %h2 Enter your current password:
                %input.form-field.input{:value => 'Current Password'}
              .field
                %h2 Enter your new password:
                %input.form-field.input{:value => 'New Password'}
              .field
                %h2 Confirm your new password:
                %input.form-field.input{:value => 'Confirm New Password'}
              .cancel-btn
                %button.button.secondary-action Cancel
              .submit-btn
                %button.button.primary-action Change Your Password
          %hr
          .content
            %h4 Your Bank
            %h3.bold CHASE BANK
            %a Change
          %hr
          .content
            %h4 Your Card
            %h3.bold CREDIT CARD 9876
            %a Change



    %section
      %h3 Current Balance

      .account
        %h1.cyan You have 720 Plink points.
        %h3 If you feel your current balance is incorrect, please log out and log back in.


      %br
      %br
      %h3 Activity

      .account
        .activity
          %h2 Recent Activity
          .event
            .date
              %h4 Date
            .description
              %h4 Description
            .amount
              %h4 Amount
            .icon.title
              icon
          .event

            .date
              %h3 12/29
            .description
              %h3.bold $99.99 at Brand
            .amount
              %h3.cyan.bold 500 Plink points
            .icon
              %img{ :src => "/assets/history/icon_purchase.png", :alt => "Purchase"}

          .event.alt
            .date
              %h3 12/20
            .description
              %h3.bold $25 Redemption orem ipsum dolar sit ament
            .amount
              %h3.chart.bold -90000 Plink points
            .icon
              %img{ :src => "/assets/history/icon_redeem.png", :alt => "Redemption"}

          .event
            .date
              %h3 12/11
            .description
              %h3.bold Bonus lorem ipsum dolar sit ament
            .amount
              %h3.cyan.bold 20 Plink points
            .icon
              %img{ :src => "/assets/history/icon_bonus.png", :alt => "Bonus"}

          .event.alt
            .date
              %h3 12/2
            .description
              %h3.bold Adjustment ipsum dolar sit ament
            .amount
              %h3.cyan.bold 100 Plink points
            .icon
              %img{ :src => "/assets/history/icon_adjustment_up.png", :alt => "Point Adjustment"}

          .event
            .date
              %h3 11/23
            .description
              %h3.bold Adjustment down lorem ipsum dolar
            .amount
              %h3.pink.bold -1000 Plink points
            .icon
              %img{ :src => "/assets/history/icon_adjustment_down.png", :alt => "Point Adjustment"}

  %section
    %h2 Rewards

    %section
      = render partial: 'style_guide/redemptions/redemptions'

    %section
      %h2 Reward Confirmation
      %br

      = render partial: 'style_guide/redemptions/confirm'

  %section

    %h3 Flash Message
    %br
    .flash-msg
      %img{ :src => "/assets/icon_alert_pink.png"}
      Sorry, that email has already been registered. Please use a different email.

    = render partial: 'style_guide/home/home'

    %h3 Video
    %br

    = render partial: 'style_guide/home/showvid'

  %section

    %h3 My Account Page
    %br

    = render partial: 'style_guide/account/account'

  %section

    %h3 Wallet Page
    %br

    = render partial: 'style_guide/wallet/wallet'

  %section
    %h2 Email

    %section
      %h3 Unsub

      = render partial: 'style_guide/email/unsub'

      %h3 Unsub Confirm

      = render partial: 'style_guide/email/unsub_confirm'

  %section
    %h2 Change Password

    = render partial: 'style_guide/change_password/change-password'

  %section

    %h3 Static Pages

    %section
      %h3 Contact

      = render partial: 'style_guide/static/contact'

    %section
      %h3 FAQ

      = render partial: 'style_guide/static/faq'

    %section
      %h3 Terms

      = render partial: 'style_guide/static/terms'

    %section
      %h3 Error 404

      = render partial: 'style_guide/error/error_404'

    %section
      %h3 Error 500

      = render partial: 'style_guide/error/error_500'

    %section
      %h3 Forgot PW

      = render partial: 'style_guide/static/forgotPW'

  %section
    %h3 Contests

    =render partial: 'style_guide/contests/contests'

    %h3 In-App Notification1

    =render partial: 'style_guide/flash_message/in_app_note'

    %h3 List of winners

    = render partial: 'style_guide/contests/winners_list'

    %h3 Terms

    =render partial: 'style_guide/contests/terms'

  %section
    %h3 Surveys

    =render partial: 'style_guide/survey/survey_landing'
    =render partial: 'style_guide/survey/survey_landing_acquisition'

  %section
    %h3 Reg - 1

    =render partial: 'style_guide/reg/reg1'

    %section
    %h3 Reg - 1 No Results

    =render partial: 'style_guide/reg/reg1_noresults'

  %section
    %h3 Reg - 2

    =render partial: 'style_guide/reg/reg2'

  %section
    %h3 Reg - 3

    =render partial: 'style_guide/reg/reg3'

  %section
    %h3 Reg - 3 MFA questions

    =render partial: 'style_guide/reg/reg3_MFA'

    %section
    %h3 Reg - 3 MFA image

    =render partial: 'style_guide/reg/reg3_MFAimage'

  %section
    %h3 Reg - 3 Error

    =render partial: 'style_guide/reg/reg3_error'

    %section
    %h3 Reg - MFA Image

    =render partial: 'style_guide/reg/reg3_MFAimage'

  %section
    %h3 Reg - 4

    =render partial: 'style_guide/reg/reg4'

  %section
    %h3 Reg - 5

    =render partial: 'style_guide/reg/reg5'

  %section
    %h3 Reg - 6

    =render partial: 'style_guide/reg/reg6'

  %section
    %h3 Out of Stock Ribbon

    =render partial: 'style_guide/redemptions/out_of_stock'
