.contests
  %header.page-title
    %h1 Contests
    %h3.gray Enter once a day until the contest is over. The more you enter, the more you win!

  .contest
    - if contest.ended?
      = render partial: 'contests/ended_contest_information', locals: { user: user, contest: contest, contest_results_service: contest_results_service }
    - else
      = render partial: 'contests/current_contest_information',             |
        locals: {                                                           |
          user: user,                                                       |
          contest: contest,                                                 |
          entries: entries,                                                 |
          user_has_linked_card: user_has_linked_card                        |
        }                                                                   |
    %footer
      - if user.logged_in?
        - if !contest.ended?
          = render partial: 'contests/email_reminder', locals: { user: user, contest: contest }
      %div{class: "refer #{user.logged_in? ? 'with-text' : 'without-text'}"}
        - if !contest.ended?
          = render partial: 'contests/contest_referral', locals: { user: user, contest: contest, user_has_linked_card: user_has_linked_card }
  .reveal-modal.medium#terms-and-conditions
    = contest.terms_and_conditions.html_safe
    = link_to '&#215;'.html_safe, nil, class: 'close-reveal-modal'

#card-add-modal.reveal-modal.cf-modal
  = render partial: 'shared/card_add_modal', locals: {card_modal_url: card_link_url}
