- extra_entries = user_has_linked_card ? 2*50 : 2*10
Get up to
- if user.logged_in?
  = contest_social_referral_link("#{extra_entries} EXTRA ENTRIES", user.id)
- else
  = link_to "#{extra_entries} EXTRA ENTRIES", faq_referral_path, class: 'cyan'
per day for each friend referral
= link_to '&#8224;'.html_safe, faq_referral_path, target: '_blank', class: 'footnote'
.btn
  .button.nav.tall
    - image_path = 'icon_refer.png'
    - if user.logged_in?
      = contest_social_referral_image(image_path, user.id)
    - else
      = link_to image_tag(image_path), faq_referral_path
