.info
  .title
    %h2.cyan= contest.description
    .image
      -show_non_linked = !user_has_linked_card && user.logged_in? && entries[:total] > 0 && !contest.non_linked_image.blank?
      -if show_non_linked
        = link_to image_tag(contest.non_linked_image), institution_search_path, data: { 'non-linked-image' => 'true' }, style: "display: #{show_non_linked ? 'block' : 'none'}"
      = image_tag contest.image, data: { 'default-image' => 'true' }, style: "display: #{show_non_linked ? 'none' : 'block'}"
  .details
    %h3.strong= "Prizes drawn on #{contest.end_date}"
    %p= contest.prize_description
    %h4.legal
      NO PURCHASE NECESSARY.
      = link_to 'See Contest Rules for details.', nil, data: {'reveal-id' => 'terms-and-conditions'}
      Void where prohibited. Maximum of 300 entries per day.
      = contest.disclaimer_text

.enter
  -if contest.started?
    = render partial: 'contests/entries',                |
      locals: {                                          |
        entries: entries,                                |
        user: user,                                      |
        contest: contest,                                |
        user_has_linked_card: user_has_linked_card       |
      }                                                  |
  -else
    Contest has not started yet, please check back soon.
