.info
  .title
    %h2.cyan= 'CONTEST RESULTS'
  .image
    = image_tag contest.image, class: 'disabled'
    .overlay-message
      %h1 This contest has ended
  .details
    %h3.strong= "This contest ended on #{contest.end_date}"
.enter
  .results
    .details
    -# TODO: This probably needs refactoring to remove the service call and replace it with passed-in variables.
    -# See https://github.com/plinkinc/plink-pivotal/commit/848d2f21312d817d3adb7aef1d132a1b270501d3
    -if contest.finalized?
      %h4= 'CONTEST WINNERS'
      %h2= "#{contest.prize}:"
      %h2{class: 'cyan margin_bottom'}= contest_results_service.grand_prize_winners_list
      %h2= "#{plink_currency_format(contest_results_service.winners.second[0])} Gift Card:"
      %h2{class: 'cyan margin_bottom'}= contest_results_service.second_prize_winners_list
      .results
        = link_to 'View the complete list of winners &rarr;'.html_safe, nil,  data: {'reveal-id' => 'winners-list'}
    -else
      %h2{class: 'margin_bottom'}= 'This contest has ended. Check back soon to see the winners list.'
    .btn
      = link_to 'ENTER NEXT CONTEST', contests_path, {class: 'button primary-action white-txt'}

.reveal-modal.medium#winners-list
  .winners-list
    - contest_results_service.winners.each_with_index do |prize_level_result, index|
      .prize
        - points = number_with_delimiter(100 * prize_level_result[0], :delimiter => ',')
        - dollars = plink_currency_format(prize_level_result[0])
        - group_size = groups_for_number_of_winners(prize_level_result[1].length)

        %h3.cyan.strong= "#{(index +1).ordinalize} Prize:"
        - if index == 0
          %h3.cyan= "#{contest.prize}:"
        - else
          %h3.cyan= "#{points} Plink Points (#{dollars})"

        - prize_level_result[1].each_slice(group_size) do |group|
          .group
            - group.each do |name|
              %h4= name.html_safe
  = link_to '&#215;'.html_safe, nil, class: 'close-reveal-modal'
