-if !user_has_linked_card && user.logged_in?
  .nonlinked-message{style: 'margin-top: -110px'}
    .font-1p5em.font-w500 Want 5x more entries?
    .font-1em.font-w300.font-lightgray
      Get 5x entries per day when you
      %br
      link a credit or debit card.
      .btn
        %button.button.nav.sign-in.width-70{data: { 'reveal-id' => 'card-add-modal' }}
          .font-w300 LINK YOUR CARD
.entries.mts
  - if user.logged_in?
    %h2 You have
    %h1.cyan#js-contest-entries= "#{entries[:total]}"
    %h2#js-entry-or-entries= "#{'entry'.pluralize(entries[:total])}."
    .btn
      = contest.disabled_or_active_share_button(entries[:share_state])
    = form_tag "/contests/#{contest.id}/entries", id: 'js-contest-entry', style: 'display: none;' do
      = hidden_field_tag :contest_id, contest.id
    .details
      %h4#js-entry-subtext= entries_subtext(entries[:share_state], entries[:shared])
    -if user_has_linked_card
      %h4.bonus Because you linked a card to your Plink account, you'll get 5x entries per share.
  - else
    .font-1p6em.font-w500 How do I enter?
    .details.mtl
      .font-p9em.font-w300.font-gray Already a Plink member?
      = submit_tag 'Sign In To Enter', data: {'reveal-id' => 'sign-in-form-modal'}, class: 'link button sign-in', rel: 'nofollow', class: 'mts button blue white-txt'
    .details.mtl
      .font-p9em.font-w300.font-gray Not a Member?
      = submit_tag 'Join To Enter', data: {'reveal-id' => 'registration-form'}, class: 'link button join', rel: 'nofollow', class: 'mts button primary-action white-txt'
