.reveal-modal#contest_share_modal.hidden.modal.tiny
  %img{ :class => "close-btn", :src => "/assets/btn_close.png", :alt => "Close" }
  %h1.font-2em.font-w700.font-cyan Congratulations!
  %p.font-1p2em.font-w300= contest.interstitial_title

  .bg-element
    %h2.font-1p2em.font-w500= contest.interstitial_bold_text
    %p.font-1em.font-w300= contest.interstitial_body_text
    = link_to contest.interstitial_share_button, nil, {data: contest.share_data('facebook,twitter'), id: 'js-share-from-modal-to-enter', class: 'button primary-action mtl'}
  = link_to contest.interstitial_reg_link, '#', class:'text-link font-w300 js-complete-registration'
