.layout-inner
  .no-column-container
    .rewards
      .message.cf
        %h1 Choose Your Reward.
        %h3.cyan= redemption_message(current_user.currency_balance, current_virtual_currency.currency_name).html_safe
      .message.cf.why-cant-i-redeem
        %h3.cyan.bold
          Having trouble redeeming your points?
        %h3.cyan
          %span
            Please
            = link_to 'contact us', contact_path, {class: 'font-cyan', target: 'contact'}
            and let us know. Don't forget to include the reward and denomination for which you're trying to redeem.

      - @rewards.each do |reward|
        .reward.cf
          .img
            - if !reward.is_redeemable
              .out-of-stock
                Out of Stock
                .font-p9em.font-w300 Check back soon
            = image_tag reward.logo_url, alt: reward.name, class: reward.is_redeemable ? '' : 'disabled'
          .description
            %h2.bold #{reward.name.html_safe}
            %h4= reward.description.html_safe
          = form_tag '/redemption' do
            - reward.amounts.reverse.each do |amount|
              - locals = {amount: amount, reward: reward, max_reward_amount: @max_reward_amount}

              - if display_as_available?(@user_has_account, amount.dollar_award_amount, reward.is_redeemable)
                = render :partial => 'shared/active_reward_amount', locals: locals
              - else
                = render :partial => 'shared/locked_or_unavailable_reward_amount', locals: locals
