.layout-inner{style: 'margin-top: 50px;'}

  %p= flash[:error]

  .rewards
    %h1 Choose Your Reward.

    %br
    %br

    - @rewards.each do |reward|
      .reward.cf
        .img
          = image_tag reward.logo_url, alt: reward.name
        .description
          %h2.bold #{reward.name} Gift Card
          %h4= reward.description

        - reward.amounts.reverse.each do |amount|
          - if current_user.logged_in? && amount.dollar_award_amount < current_user.current_balance
            = link_to redemptions_path(reward_amount_id: amount.id), method: 'post', class: 'denomination available' do
              = plink_currency_format(amount.dollar_award_amount)
          - else
            .denomination.unavailable
              = plink_currency_format(amount.dollar_award_amount)
