.layout-inner{style: 'padding-top: 50px;'}

  %p= flash[:error]

  .rewards
    %h1 Choose Your Reward.

    %br
    %br

    - @rewards.each do |reward|
      .reward.cf
        .img
          = image_tag reward.logo_url, alt: reward.name
        .description
          %h2.bold #{reward.name}
          %h4= reward.description.html_safe

        - reward.amounts.reverse.each do |amount|
          - locals = {amount: amount, reward: reward}

          - if display_as_available?(@user_has_account, amount.dollar_award_amount)
            = render :partial => 'shared/active_reward_amount', locals: locals
          - else
            = render :partial => 'shared/locked_or_unavailable_reward_amount', locals: locals
