- content_for(:container_class, 'slimbox-wrapper')

.slimbox
  %h3 Reset your password

  - if @password_reset.errors.any?
    - @password_reset.errors.full_messages.each do |message|
      %span.error.font= message

  = form_for(@password_reset, url: password_reset_path, as: 'password_reset') do |f|
    = f.label(:new_password)
    = f.password_field :new_password
    = f.label(:new_password_confirmation, 'Confirm new password')
    = f.password_field :new_password_confirmation
    = f.hidden_field :token
    = f.submit 'Reset Password', class: 'primary_action'