- if @user_registration_form.errors.any?
  - @user_registration_form.errors.each do |field, error|
    %p= error

= form_for(@user_registration_form, url: registrations_path) do |f|
  = f.label :first_name
  = f.text_field :first_name
  = f.label :email
  = f.text_field :email
  = f.label :password, "Password"
  = f.password_field :password
  = f.label :password_confirmation, "Verify password"
  = f.password_field :password_confirmation
  = f.submit "Register"
