%a.denomination.available{data: {'reveal-id' => amount.id}}
  = plink_currency_format(amount.dollar_award_amount)

.modal.reward-amount-confirmation.reveal-modal{style: 'display: none', id: amount.id }
  = image_tag 'btn_close.png', alt: 'Close', class: 'close-btn close-reveal-modal'
  .reward-modal{data: {'reward-amount-modal' => true}}
    .img
      = image_tag reward.logo_url, alt: reward.name
    .text
      %h1= "#{plink_currency_format(amount.dollar_award_amount)} #{reward.name}".html_safe
      %h2= redemption_confirmation_text(amount, reward.name)
    %br
    .btn-wrapper
      .btn.first
        %button.button.secondary-action.close-reveal-modal CANCEL
      .btn.confirm
        = link_to 'CONFIRM', nil, class:'button primary-action', data: {'disable-on-click' => true, 'reward-amount-id' => amount.id}
    .terms
      %a.terms-link{href: '#', data: {'toggle-selector' => "#toggle-#{amount.id}"}} Terms &amp; Conditions
      %h3.terms-text.hidden{id: "toggle-#{amount.id}"}
        = reward.terms.try(:html_safe)
