.header-button
  = link_to 'Join', '#', data: {'reveal-id' => 'registration-form'}, class: 'link button nav join'
.header-button
  = link_to 'Sign In', '#', data: {'reveal-id' => 'sign-in-form-modal'}, class: 'link button nav sign-in'
.header-button-social
  #share-bar-widget
  #twitter-follow-widget
    = render partial: 'shared/social/twitter_follow'

#sign-in-form-modal.modal.sign-in-modal.reveal-modal{style: 'display: none;'}
  = image_tag 'btn_close.png', :alt => 'Close', class:'close-btn close-reveal-modal'
  %h2.font.modal-h2 How do you want to sign in?
  .bg-element
    #social-login
    = image_tag 'email_signin_button.gif', data: {'toggle-selector' => '#organic-sign-in-form'}, alt: 'Sign in with Email', class: 'email-sign-in-button'
    = form_tag(plink_session_path, id: 'organic-sign-in-form', class: 'hidden', data: {'redirect-url' => '/wallet'}) do
      .error-messages
      = text_field_tag 'user_session[email]', '', class: 'form-field input', placeholder: 'Email'
      = password_field_tag 'user_session[password]', '', class: 'form-field input', placeholder: 'Password'
      = button_tag 'Sign In', class: 'button primary-action narrow'
  = link_to 'Forgot Password?', new_password_reset_request_path, class: 'text-link'

#registration-form.modal.sign-in-modal.reveal-modal{style: 'display: none;'}
  = image_tag 'btn_close.png', :alt => 'Close', class:'close-btn close-reveal-modal'
  %h1.font.modal-text.h1 Join Plink
  %h2.font.modal-text.h2 Your days of not earning unlimited rewards are over.
  .bg-element
    #social-registration
    = image_tag 'email_signin_button.gif', data: {'toggle-selector' => '#organic-registration-form'}, alt: 'Register with Email', class: 'email-sign-in-button'
    = form_tag(registrations_path, id: 'organic-registration-form', class: 'hidden', data: {'redirect-url' => '/wallet?link_card=true'}) do
      .error-messages
      = text_field_tag :first_name, '', class: 'form-field input', placeholder: 'First Name'
      = text_field_tag :email, '', class: 'form-field input', placeholder: 'Email'
      = password_field_tag :password, '', class: 'form-field input', placeholder: 'Password'
      = password_field_tag :password_confirmation, '', class: 'form-field input', placeholder: 'Verify Password'
      = button_tag 'Start Earning Rewards', class: 'button primary-action narrow'

  %h3.font.modal-h3
    %a.text-link{href: '#', data: {'reveal-id' => 'sign-in-form-modal'}} Already have an account?

:javascript
    gigya.socialize.showLoginUI({
    'buttonsStyle':'signInWith',
    'enabledProviders':Plink.Config.enabledProviders,
    'showTermsLink':false,
    'hideGigyaLink':true,
    'containerID': "social-login",
    'redirectURL': '/handle_gigya_login',
    'width':224,
    'height':70
    });

    gigya.socialize.showLoginUI({
    'buttonsStyle':'signInWith',
    'enabledProviders':Plink.Config.enabledProviders,
    'showTermsLink':false,
    'hideGigyaLink':true,
    'containerID': "social-registration",
    'redirectURL': '/handle_gigya_login',
    'width':224,
    'height':70
    });

    gigya.socialize.addEventHandlers({
      'onLogin': function (data) {
        Plink.GigyaPostLoginHandler.handleLogin(data);
      }
    })

    $(function() {
      Plink.conditionalCallback(
        window.location.search.match(/sign_up=true/),
        function () {
        $('[data-reveal-id="registration-form"]').click();
        }
      )
    });

= render partial: 'shared/js/generic_error_template'
