.header-button
  = link_to 'Join', '#', data: {'reveal-id' => 'registration-form'}, class: 'link button nav join', rel: 'nofollow'
.header-button
  = link_to 'Sign In', '#', data: {'reveal-id' => 'sign-in-form-modal'}, class: 'link button nav sign-in', rel: 'nofollow'
.header-button-social
  #share-bar-widget
  #twitter-follow-widget
    = render partial: 'shared/social/twitter_follow'

= render partial: 'shared/sign_in_modal'

= render partial: 'shared/sign_up_modal'

:javascript
    gigya.socialize.showLoginUI({
    'buttonsStyle':'signInWith',
    'enabledProviders':Plink.Config.enabledProviders,
    'showTermsLink':false,
    'hideGigyaLink':true,
    'containerID': "social-login",
    'redirectURL': '/handle_gigya_login',
    'width':224,
    'height':70
    });

    gigya.socialize.showLoginUI({
    'buttonsStyle':'signInWith',
    'enabledProviders':Plink.Config.enabledProviders,
    'showTermsLink':false,
    'hideGigyaLink':true,
    'containerID': "social-registration",
    'redirectURL': '/handle_gigya_login',
    'width':224,
    'height':70
    });

    gigya.socialize.addEventHandlers({
      'onLogin': function (data) {
        Plink.GigyaPostLoginHandler.handleLogin(data);
      }
    })

    $(function() {
      Plink.conditionalCallback(
        window.location.search.match(/sign_up=true/),
        function () {
        $('[data-reveal-id="registration-form"]').click();
        }
      )
    });

= render partial: 'shared/js/error_templates'
