.modal.offer-details.reveal-modal{style: 'display: none', id: presenter.modal_dom_id}
  = image_tag 'btn_close.png', alt: 'Close', class: 'close-btn close-reveal-modal'
  %div{ class: presenter.modal_special_offer_type }
    %p= presenter.special_offer_type_text
  %img{src: presenter.image_url, alt: presenter.image_description, class: 'wallet-logo'}
  .bg-element
    - presenter.tiers.each do |tier|
      .offer-points
        %h1= tier[:points_in_currency]
        %h2= tier[:description]
    - if presenter.is_offer_expiring?
      .expiration-date.soon= presenter.end_date_text
    - else
      .expiration-date= presenter.end_date_text

  .message.reason.wallet_full.hidden
    You don't have any open slots in your Plink Wallet. To add this offer, remove one of the offers currently in your Plink Wallet.

  %p.message.promo= presenter.promotion_description

  .add-call-to-action
    = presenter.call_to_action_link
  .remove-call-to-action
    = link_to 'Remove!', presenter.remove_url, class: 'button primary-action', data: {'remove-from-wallet' => true}

  .offer-description
    %p.font.modal-text.h2= raw presenter.description
