= render :partial => 'shared/hero_gallery', locals: {promotions: @hero_promotions}

.layout-inner
  .left-column
    %h1 My Wallet

    .wallet
      - current_user.wallet_items.each do |item|
        - if item.in_use?
          .slot
            .slot-inner
              .brand
                = image_tag Plink::RemoteImagePath.url_for(item.offer.image_url), alt: item.offer.name
              .info
                %h3 up to
                %h1.numbers= current_virtual_currency.amount_in_currency(item.offer.max_dollar_award_amount)
                %h3= current_virtual_currency.currency_name
                = button_to 'REMOVE', wallet_offer_path(item.offer), class: 'button wallet-remove', method: :delete
        - else
          .slot
            = image_tag 'icon_emptyslot.png', alt: 'Empty Slot', class: 'img'
            .text
              %h3.bold This slot is empty.
              %h3= "Select an offer to start earning #{current_virtual_currency.currency_name}."


  .wallet
    %h2 Select From These Offers
    = render :partial => 'shared/offers', locals: {offers: @offers, button_label: 'Add to wallet'}
