= render :partial => 'shared/hero_gallery', locals: {promotions: @hero_promotions, user_has_account: @user_has_account}

#wallet_offers_management

  %script#populated_wallet_item_template{type: 'text/x-handlebars-template' }
    = render partial: 'wallets/populated_wallet_item', locals: { wallet_item: WalletItemPresenter::PopulatedWalletItemJsPresenter.new }
  %script#open_wallet_item_template{type: 'text/x-handlebars-template' }
    = render partial: 'wallets/open_wallet_item', locals: { wallet_item: WalletItemPresenter::OpenWalletItemJsPresenter.new }
  %script#locked_wallet_item_template{type: 'text/x-handlebars-template' }
    = render partial: 'wallets/locked_wallet_item', locals: { wallet_item: WalletItemPresenter::LockedWalletItemJsPresenter.new }
  %script#offer_item_template{type: 'text/x-handlebars-template' }
    = render partial: 'shared/offer_item', locals: {presenter: OfferItemJsPresenter.new(virtual_currency: current_virtual_currency), button_label: 'Add to wallet'}

  .column-container
    .wallet.layout-inner
      .left-column
        .flag.feature
          %h1 My Wallet

        #wallet_items_bucket
          - @wallet_items.each do |wallet_item|
            = render partial: "#{wallet_item.partial}", locals: { wallet_item: wallet_item }
        -if show_promotional_wallet_item(current_user.wallet)
          = render partial: 'wallets/promotional_wallet_item'

      .right-column
        .subhead
          %h2 Select From These Offers
          %h3.rewards-message= redemption_message(current_user.currency_balance, current_virtual_currency.currency_name).html_safe
        #offers_bucket
          = render partial: 'shared/offer_item', collection: @offers, as: :presenter, locals: {button_label: 'Add to wallet'}
          = render partial: 'shared/offer_detail_modal', collection: @all_offers, as: :presenter

    .clear
