%header.header.layout-wrapper
  .layout-inner
    %img{ :class => "header-logo", :src => "/assets/header_logo.png", :alt => "Plink" }
    .welcome-text
      %span.header-text.bold Welcome, Kris!
      %br
      %span.header-text You have 999,999 Plink points.
    %ul.nav-ul
      %li.nav-li
        = link_to 'Dashboard', '#', class:'link'
      %li.nav-li
        = link_to 'Wallet', '#', class:'link'
      %li.nav-li
        = link_to 'Rewards', '#', class:'link'
      %li.nav-li
        = link_to 'My Account', '#', class:'link'
      %li.nav-li
        = link_to 'Log Out', '#', method: :delete, class:'link logout'

.reg
  .column-container
    .layout-wrapper
      .layout-inner.height-min-550
        .left-column.no-float
          .steps.first.centered
            .font-p9em.font-lightgray.font-italic Next Steps
          .steps
            .font-slate Add offers to your wallet.
            .font-p9em.font-w300 Fill your Wallet with offers from our partners, then earn Plink Points when you shop at those partners with your linked card.
          .steps
            .font-slate Refer a friend.
            .font-p9em.font-w300 
              Get 100 Bonus Points for every friend you refer to Plink. Referring friends is easy;
              = link_to 'invite them via Facebook', '#', class:'text-link'
              or send them this link:
            .spacer-top-24
              .font-p9em.font-slate Your Personal Referral Link:
            .spacer-top-8
              .font-p8em https://www.thisisthereferallink.com/23432/2342/aid/2348
          .steps.last
            .font-slate Get the app.
            .font-p9em.font-w300 Plink on the go with our mobile app for your iPhone or iOS device.
            = link_to 'Get the App', '#', class:'text-link'

        .right-column.pad-left-86
          .font-p9em.font-lightgray.font-w300.font-italic You're all set. 
          .spacer-top-24
            .font-1p5em.font-cyan Congratulations!
          .spacer-top-8
            .font-1p1em.font-w300 You've successfully linked your NAME OF CARD to your Plink account.
          .spacer-top-32
            .font-1p1em.font-w500.font-uppercase.font-kern1 What's next?
          .spacer-top-8
            .font-1p1em.font-w300 First thing's first - add offers to your Wallet to start earning Plink Points.
          .spacer-top-24
            .button-container.no-margin.width-170
              %button.button.primary-action Go To My Wallet
          .spacer-top-96
            %hr
          .spacer-top-24
            .font-1p1em.font-w500.font-gray.font-uppercase.font-kern1 Let's Be Friends
          .spacer-top-8
            .font-1p1em.font-w300.font-lightgray Connect your Facebook or Twitter account and be the first to find out about reward bonuses and special offers.
          .spacer-top-24
            [ INSERT UGLY GIGYA BUTTONS ]

      .clear