%header.header.layout-wrapper
  .layout-inner
    %img{ :class => "header-logo", :src => "/assets/header_logo.png", :alt => "Plink" }
    .welcome-text
      %span.header-text.bold Welcome, Kris!
      %br
      %span.header-text You have 999,999 Plink points.
    %ul.nav-ul
      %li.nav-li
        = link_to 'Dashboard', '#', class:'link'
      %li.nav-li
        = link_to 'Wallet', '#', class:'link'
      %li.nav-li
        = link_to 'Rewards', '#', class:'link'
      %li.nav-li
        = link_to 'My Account', '#', class:'link'
      %li.nav-li
        = link_to 'Log Out', '#', method: :delete, class:'link logout'

.reg
  .column-container
    .layout-wrapper
      .layout-inner.height-min-550
        .left-column.no-float
          .steps.first.centered
            .font-p9em.font-lightgray.font-italic Let's Get Started
          .steps
            .circle
              .text 1
            Find your bank or credit card provider.
          .steps.active
            .circle.offset
              .text 2
            Connect it to Plink.
          .steps.last
            .circle.offset
              .text 3
            Choose a card.

        .right-column.pad-left-86
          .font-p9em.font-lightgray.font-w300.font-italic Step 2 of 3
          .spacer-top-24
            =image_tag 'https://plink-images.s3.amazonaws.com/bank_logos/desktop_reg/bank_chase.png', class:'reg-bank-logo'
            /*.font-1p5em If No Logo, Use This Text Style*/
          .spacer-top-8
            .gray-box
              .font-p9em.font-w500.font-darkred There was a problem with your login.
              .font-p9em.font-w300.font-darkred Your bank returned the following errors:
              %hr
              .spacer-top-8
                .mll.font-p9em.font-w500.font-darkred - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              .spacer-top-8
                .mll.font-p9em.font-w500.font-darkred - Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              %hr
              .spacer-top-8
                .font-p9em.font-w300.font-darkred 
                  Please re-enter your login info. If this error persists, please 
                  %span 
                    =link_to 'contact your bank.','#', class:'text-link'
                .spacer-top-8
                  .font-p9em.font-w300.font-darkred 
                    For more info on this error, see our 
                    %span
                      =link_to 'FAQ.','#',class:'text-link'
          .spacer-top-24
            .font-1em.font-w500 User ID 
            .font-p9em.font-w300.font-gray for your Chase Bank online account
            .form-container
              %input.form-field.input{:value => 'User ID'}
          .spacer-top-24
            .font-1em.font-w500 Password
            .font-p9em.font-w300.font-gray for your Chase Bank online account
            .form-container
              %input.form-field.input{:value => 'Password'}
          .spacer-top-24
            .button-container.no-margin
              %button.button.negative-action Go Back
            .button-container
              %button.button.primary-action Connect
          .spacer-top-24
          %hr
            .font-p9em.font-w500.font-gray Trouble logging in?
            .font-p9em.font-w300.font-gray.font-height1p5 Contact Chase at [link to website] or [phone number].
            .mtl.mbm
            =image_tag 'home_security_truste.png', class:'width-80px'
            =image_tag 'home_security_norton.png', class:'width-80px mlm'
            =image_tag 'home_security_bbb.png', class:'width-80px mlm'
            =image_tag 'home_security_intuit.png', class:'width-80px mlm'
            %a{ href: "http://secure.trust-guard.com/security/8294", target: "_blank",
        oncontextmenu: %Q^var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by trust-guard \u00A9 '+d.getFullYear()+'.'); return false;^,
        onclick: %Q^var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace(/https?/, 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;^ }
            =image_tag "//dw26xg4lubooo.cloudfront.net/seals/stacked/8294-lg.gif", class: "width-80px mll",height: "28", alt: "Security Seals", name: "trustseal"
      .clear