.about-page
  .static.container
    .left-column
      .headline
        %h1 About Us
        %h2 The story of Plink.
      .headline
        %h3 Food truck scenester ex kale chips, fugiat blog commodo ea.
      %ul.nav
        %li= link_to 'Our Beginnings', '#beginnings'
        %li= link_to 'Executive Team', '#executive-team'
        %li= link_to 'Board Members', '#board-members'


    .right-column
      .content
        %h2#beginnings.cyan Our Beginnings
        %h4 Lorizzle ipsum dolizzle sit amizzle, fizzle doggy shiznit. Tellivizzle ma nizzle check it out, uhuh ... yih! volutpizzle, suscipizzle quizzle, gravida vizzle, boom shackalack. Pellentesque eget gizzle. Sizzle erizzle. Shizzlin dizzle at dolor dapibizzle black tempizzle tempor. Mauris pellentesque rizzle et turpis. Owned izzle tortor. Phat you son of a bizzle rhoncizzle da bomb. In daahng dawg check it out mammasay mammasa mamma oo sa dictumst. Brizzle dapibizzle. We gonna chung tellizzle dang, pretizzle fo shizzle, mattizzle we gonna chung, eleifend own yo', nunc. Shut the shizzle up suscipizzle. Shiznit ass yippiyo own yo' crazy.
        %h4 Ethnic leggings authentic keffiyeh aesthetic kitsch DIY locavore est eiusmod fugiat ennui. Ugh small batch McSweeney's Wes Anderson Cosby sweater, kogi occaecat High Life biodiesel VHS wolf 90's tumblr freegan. Post-ironic hella readymade veniam vero Brooklyn. Brunch small batch 90's, fap Austin ugh fanny pack minim 3 wolf moon delectus seitan McSweeney's Echo Park. Photo booth shabby chic mustache, food truck ugh vinyl fugiat cardigan next level do. Occaecat locavore photo booth, skateboard deep v master cleanse Cosby sweater. Aliqua iPhone Pinterest whatever, excepteur id kitsch aute kale chips try-hard hoodie narwhal ex dolore.
      %hr

      .content
        %h2#executive-team.cyan Executive Team

        %h4 Check out these cats.

        = image_tag 'http://placekitten.com/300/400'
        %h3 Cat Number 1
        %h4 Irony meh before they sold out, gentrify blog Williamsburg Austin cardigan eu adipisicing. Nostrud Bushwick art party, Williamsburg irure letterpress veniam dolore in 90's. Laborum sustainable McSweeney's placeat

        = image_tag 'http://placekitten.com/350/400'
        %h3 Cat Number 2
        %h4 I bet you still use Helvetica too…

        = image_tag 'http://placekitten.com/325/405'
        %h3 Cat Number 3
        %h4 Lorizzle ipsum dolizzle sit amizzle, fizzle doggy shiznit. Tellivizzle ma nizzle check it out, uhuh ... yih! volutpizzle, suscipizzle quizzle, gravida vizzle, boom shackalack. Pellentesque eget gizzle. Sizzle erizzle. Shizzlin dizzle at dolor dapibizzle black tempizzle tempor. Mauris pellentesque rizzle et turpis. Owned izzle tortor. Phat you son of a bizzle rhoncizzle da bomb. In daahng dawg check it out mammasay mammasa mamma oo sa dictumst. Brizzle dapibizzle. We gonna chung tellizzle dang, pretizzle fo shizzle, mattizzle we gonna chung, eleifend own yo', nunc. Shut the shizzle up suscipizzle. Shiznit ass yippiyo own yo' crazy.

      %hr
      .content
        %h2#board-members.cyan Board Members

        %h3 The First Guy
        %h4 Nunc commodo cool izzle urna. Boom shackalack congue. That's the shizzle viverra laorizzle crackalackin.

        %h3 The Second Guy
        %h4 Nunc commodo cool izzle urna. Boom shackalack congue. That's the shizzle viverra laorizzle crackalackin.

        %h3 The Third Guy
        %h4 Nunc commodo cool izzle urna. Boom shackalack congue. That's the shizzle viverra laorizzle crackalackin.

      %hr
    .clear
