.about-page
  .static.container
    .left-column
      %h1.font-3p2em.font-w900 About Us
      %h2.font-1p6em.font-w300.mbl The story of Plink.
      %h3.font-1em.font-w300.mbl Rewarding smarter shoppers since 2011.
      %ul.nav
        %li= link_to 'Our Beginnings', '#beginnings'
        %li= link_to 'Executive Team', '#executive-team'


    .right-column
      .content
        %h2#beginnings.font-1p2em.font-cyan.font-w300.mbl Our Beginnings
        %h4.font-w300.font-midgray.font-height1p5.mtm We started Plink back in 2011 to provide people, just like us, an easier, more convenient way to get rewarded for all the money we spend. We all go out to eat and shop a lot, but who wants to carry around another loyalty card or clip coupons? Also, wouldn’t it be great if we could earn one type of reward across all the stores and restaurants we go to, so we get rewards faster? That’s Plink.
        %h4.font-w300.font-midgray.font-height1p5.mtm Plink eliminates the need to carry around extra cards or coupons. We link Plink rewards to a payment card that you already have. You just shop and dine out like always and watch the rewards pile up. And best of all, you’ll earn one reward currency at tons of locations nationwide and can pick the reward of your choice. That’s smarter shopping.
      %hr.mtm

      .content
        %h2#executive-team.font-1p2em.font-cyan.font-w300.mtl.mbl Executive Team

        = #%h4 Check out these cats.

        = image_tag 'headshots/peter.jpg'
        %h3.font-1p1em.font-cyan.font-w300.mtm.mbs Peter Vogel, CEO
        %h4.font-w300.font-midgray.font-height1p5.pbxl Peter Vogel has more than a decade of executive-level, online sales and marketing experience, specializing in performance-based marketing, media buying and monetization of social media. As a pioneer in CPA based advertising, Peter was co-founder of Memolink.com and led the company's sales team from 1997 through the mid 2000's establishing relationships with Fortune 500 advertisers when performance based advertising was still in its infancy. Peter received a BA from Washington University in St. Louis in Economics.

        = image_tag 'headshots/bryan.jpg'
        %h3.font-1p1em.font-cyan.font-w300.mtm.mbs Bryan Tyler, CTO
        %h4.font-w300.font-midgray.font-height1p5.pbxl Bryan Tyler is a 13-year veteran of the IT industry with an emphasis on software development and IT management. He joined Memolink.com in 2006 bringing with him a diverse background in industries, including telecommunications, retail, manufacturing, finance and traditional media. Bryan's career in IT began in software development and quickly moved into software architecture and ultimately IT management. He received a BS from Colorado State University.

        = image_tag 'headshots/marc.jpg'
        %h3.font-1p1em.font-cyan.font-w300.mtm.mbs Marc Marin, CMO
        %h4.font-w300.font-midgray.font-height1p5.pbxl Marin re-joins Vogel and several other members of the Plink team involved in Memolink.com, an online rewards program where he spent 10 years as CIO and co-founder. Most recently, Marin was co-founder of PurePlay, an online poker site, where he served on the management team and the company’s board of directors since 2004. Marin holds a BS in Economics and an MBA in Operations Management from Binghamton University.

        %h3.font-1p1em.font-cyan.font-w300.mtm.mbs Greg Fox, VP of Sales & Business Development
        %h4.font-w300.font-midgray.font-height1p5.pbxl As Vice President of Sales and Business Development, Greg brings nearly 20 years of relevant experience in working with national brands through new, innovative digital marketing platforms within the media and entertainment industries.Most recently, Fox was Senior Vice President of Sales and Business Development at Infinian, a digital coupon and loyalty cloud company, where he developed the go-to-market strategy within the QSR, Casual Dining and Retail space. At Infinian, his sales and business development efforts led to partnerships with major brands including McDonald’s, Outback Steakhouse, Unilever and Pepsi.  Previously, Greg has lead and developed sales teams as Vice President of Sales for Cellfire, the first mobile coupon and promotion company and Hands-On Mobile, a leading mobile games producer.  Within the online media space, Fox helped drive online advertising revenue for the #1 online video game portal IGN Entertainment, and lead all sales and business development as Associate Publisher at GamePro, the entertainment division of global publisher IDG.


      %hr
    .clear
