.about-page
  .static.container
    .left-column
      .headline
        %h1 About Us
        %h2 The story of Plink.
      .headline
        %h3 Rewarding smarter shoppers since 2011.
      %ul.nav
        %li= link_to 'Our Beginnings', '#beginnings'
        %li= link_to 'Executive Team', '#executive-team'


    .right-column
      .content
        %h2#beginnings.cyan Our Beginnings
        %h4 We started Plink back in 2011 to provide people, just like us, an easier, more convenient way to get rewarded for all the money we spend. We all go out to eat and shop a lot, but who wants to carry around another loyalty card or clip coupons? Also, wouldn’t it be great if we could earn one type of reward across all the stores and restaurants we go to, so we get rewards faster? That’s Plink.
        %h4 Plink eliminates the need to carry around extra cards or coupons. We link Plink rewards to a payment card that you already have. You just shop and dine out like always and watch the rewards pile up. And best of all, you’ll earn one reward currency at tons of locations nationwide and can pick the reward of your choice. That’s smarter shopping.
      %hr

      .content
        %h2#executive-team.cyan Executive Team

        = #%h4 Check out these cats.

        = #image_tag 'http://placekitten.com/300/400'
        %h3 Peter Vogel
        %h4 Peter Vogel has more than a decade of executive-level, online sales and marketing experience, specializing in performance-based marketing, media buying and monetization of social media. As a pioneer in CPA based advertising, Peter was co-founder of Memolink.com and led the company's sales team from 1997 through the mid 2000's establishing relationships with Fortune 500 advertisers when performance based advertising was still in its infancy. Peter received a BA from Washington University in St. Louis in Economics.

        = #image_tag 'http://placekitten.com/350/400'
        %h3 Bryan Tyler
        %h4 Bryan Tyler is a 13-year veteran of the IT industry with an emphasis on software development and IT management. He joined Memolink.com in 2006 bringing with him a diverse background in industries, including telecommunications, retail, manufacturing, finance and traditional media. Bryan's career in IT began in software development and quickly moved into software architecture and ultimately IT management. He received a BS from Colorado State University.

      %hr
    .clear
