.layout-inner

  %div{style: 'padding-top: 30px;'}

  %h1 Contact Us

  = form_for(@contact_form, url: contact_path) do |f|

    %ul
    - @contact_form.errors.full_messages.each do |message|
      %li= message

    = f.text_field :first_name, placeholder: 'First Name', class: ['form-field', 'input']
    = f.text_field :last_name, placeholder: 'Last Name', class: ['form-field', 'input']
    = f.text_field :email, placeholder: 'Email', class: ['form-field', 'input']

    %p Why Are You Contacting Plink?

    = label_tag do
      = f.radio_button :category, 'Customer Support', checked: true
      Customer Support

    = label_tag do
      = f.radio_button :category, 'Close my account'
      Close my account

    = label_tag do
      = f.radio_button :category, 'Advertising and Business Development'
      Advertising and Business Development

    = label_tag do
      = f.radio_button :category, 'Investor Relations'
      Investor Relations

    %p What Is Your Message For Plink?

    = f.text_area :message_text, class: ['form-field', 'input']

    = f.submit 'Contact Us'
