!!!
%html
  %head
    %title Plink
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag "https://cdns.gigya.com/JS/socialize.js?apikey=#{Gigya::Config.instance.api_key}"
    = google_analytics_script_tag
    = favicon_link_tag
    = csrf_meta_tags

  %body{id: "#{controller.controller_name}-#{controller.action_name}"}
    - if admin_signed_in?
      = render :partial => 'shared/admin_bar'

    .layout-inner
      .flash-container
        - if flash.notice
          .flash-msg= flash.notice
        - elsif flash[:error].present?
          .flash-msg
            = flash_error_icon(flash[:error])
            = flash[:error]

    - if controller.display_contest_notification?
      = render partial: 'shared/social/in_app_note'

    = render partial: 'shared/header'

    .layout-wrapper.main-content
      = yield

    = render partial: 'shared/footer'
