!!!
%html
  %head
    %title Plink
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag "http://cdn.gigya.com/JS/socialize.js?apikey=#{Gigya::Config.instance.api_key}"
    = csrf_meta_tags

  %body
    %header.header
      .header-inner
        = image_tag 'header_logo.png', class: 'header-logo', alt: 'Plink'
        .header-button
          = link_to 'Join', '#', data: {'reveal-id' => 'registration-form'}, class: 'link button nav join'
        .header-button
          = link_to 'Sign In', new_session_path, class: 'link button nav sign-in'
        .header-button-social
          %span.header-text Let's be friends.
          = image_tag 'icon_fb.png', :alt => 'Like Plink on Facebook'
          = image_tag 'icon_twitter.png', :alt => 'Like Plink on Twitter'

    = yield
