!!!
%html
  %head
    %title Plink
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag "http://cdn.gigya.com/JS/socialize.js?apikey=#{Gigya::Config.instance.api_key}"
    = csrf_meta_tags

  %body
    .layout-inner
      .flash-container
        - if flash.notice
          .flash-msg= flash.notice

    = render partial: 'shared/header'

    .layout-wrapper{class: yield(:container_class)}
      = yield

    = render partial: 'shared/footer'