%hr
.content{data: {'account-edit-form' => true}}
  %h4 Name
  %h3.bold{data: {'display-value' => 'first_name'}}= current_user.first_name
  = show_change_link_for_provider(current_user.provider.to_sym)
  = form_tag account_path, class: 'change', method: 'put', data: {method: 'put'} do
    .error-messages
    .field
      %h2 Enter your new name:
      = text_field_tag :first_name, '', placeholder: 'Name', class: 'form-field input'
    .field
      %h2 Enter your password:
      = password_field_tag :password, '', class: 'form-field input', placeholder: 'Password'
    .cancel-btn
      = link_to 'Cancel', '#', class: 'button secondary-action', data: {cancel: true}
    .submit-btn
      %button.button.primary-action Change Your Name

%hr
.content{data: {'account-edit-form' => true}}
  %h4 Email
  %h3.bold{data: {'display-value' => 'email'}}= current_user.email
  = show_change_link_for_provider(current_user.provider.to_sym)
  = form_tag account_path, class: 'change', data: {method: 'put'} do
    .error-messages
    .field
      %h2 Enter your new email address:
      = text_field_tag :email, '', placeholder: 'New Email Address', class: 'form-field input'
    .field
      %h2 Enter your password:
      = password_field_tag :password, '', class: 'form-field input', placeholder: 'Password'
    .cancel-btn
      = link_to 'Cancel', '#', class: 'button secondary-action', data: {cancel: true}
    .submit-btn
      %button.button.primary-action Change Your Email
%hr
.content{data: {'account-edit-form' => true}}
  %h4 Email Preferences
  = form_tag subscription_path, data: {method: 'put'} do
    = hidden_field_tag :is_subscribed, '0', id: 'hidden_is_subscribed'
    = hidden_field_tag :email_address, current_user.email
    = check_box_tag :is_subscribed, '1', current_user.is_subscribed?, class: 'checkbox'
    %label.label{for: 'is_subscribed'} I want to hear about deals and promotions from Plink via email.
%hr
.content{data: {'account-edit-form' => true}}
  %h4 Password
  %h3.bold ******
  = show_change_link_for_provider(current_user.provider.to_sym)
  = form_tag account_path, class: 'change', data: {method: 'put'} do
    .error-messages
    .field
      %h2 Enter your new password:
      = password_field_tag :new_password, '', placeholder: 'New Password', class: 'form-field input'
    .field
      %h2 Enter your new password confirmation:
      = password_field_tag :new_password_confirmation, '', placeholder: 'New Password Confirmation', class: 'form-field input'
    .field
      %h2 Enter your current password:
      = password_field_tag :password, '', class: 'form-field input', placeholder: 'Password'
    .cancel-btn
      = link_to 'Cancel', '#', class: 'button secondary-action', data: {cancel: true}
    .submit-btn
      %button.button.primary-action Change Your Password

- if @user_has_account
  %hr
  .content
    %h4 Your Bank
    %h3.bold= @bank_account.bank_name
    = link_to 'Change', institution_search_path
    %span.font-midgray.font-w100= ' | '
    -if @bank_account.active?
      = link_to 'Update Login Info', institution_login_update_credentials_path(@bank_account.users_institution_id)
    -else
      = link_to 'Reconnect My Account', reverification_start_path(@bank_account.reverification_id)

  %hr
  .content
    %h4 Your Card
    %h3.bold= @bank_account.account_name
