.account
  .column-container
    .layout-inner
      .left-column
        .flag.profile
          = image_tag current_user.avatar_thumbnail_url, alt: current_user.first_name, class: 'profile-img'
          %h2.bold= current_user.first_name
          #social-link-widget.gig-btn{style: 'float: left'}
        .content
          .refer-btn
            = render partial: 'shared/social/invite_friends_widget'
        .flag
          %h2.white SETTINGS
        .content
          %h4 Account Status
          - if @user_has_account && @bank_account.active?
            = image_tag 'icon_active.png', alt: 'Your account is active', class: 'status-img'
            %h3.account-status.green Active
          - elsif @user_has_account
            = image_tag 'icon_alert_pink.png', alt: 'Your account is inactive', class: 'status-img'
            %h3.account-status.pink Inactive
            %br
            = link_to 'Reverify', '#', data: { 'reveal-id' => 'card-reverify-modal' }
          - else
            = image_tag 'icon_alert_pink.png', alt: 'You need to link a card', class: 'status-img'
            %h3.account-status.pink You haven't linked a card yet.
            %br
            = link_to 'Link Card', '#', data: { 'reveal-id' => 'card-add-modal' }

        = render partial: 'edit'

      .right-column
        .headline
          %h1.cyan You have #{current_virtual_currency.amount_in_currency(current_user.current_balance)} #{current_virtual_currency.currency_name}.
          %h3 If you feel your current balance is incorrect, please log out and log back in.
        %hr

        - if current_user.can_redeem?
          = link_to 'You have enough points to get some loot!', rewards_path, class: 'redeem-link'

        = render partial: 'accounts/recent_activity'

        %hr

        .stats-section.subhead
          %h2 Lifetime Stats
        .stat
          %h3 #{current_virtual_currency.currency_name}
          %h1.cyan #{current_virtual_currency.amount_in_currency(current_user.lifetime_balance)}
    .clear

    #card-add-modal.reveal-modal.cf-modal
      = render partial: 'shared/card_add_modal', locals: {card_modal_url: @card_link_url}

    #card-change-modal.reveal-modal.cf-modal
      = render partial: 'shared/card_add_modal', locals: {card_modal_url: @card_change_url}

    #card-reverify-modal.reveal-modal.cf-modal
      = render partial: 'shared/card_add_modal', locals: {card_modal_url: @card_reverify_url}

:javascript
  $(function() {
    Plink.conditionalCallback(
      window.location.search.match(/link_card=true/),
      function () {
      $('[data-reveal-id="card-add-modal"]').click();
      $('[data-reveal-id="card-reverify-modal"]').click();
      }
    )
  });

= render partial: 'shared/js/error_templates'
