.layout-inner
  .account
    -#Remove me later
    %div{style: 'padding-top: 20px;'}

    = link_to 'Link Card', '#', data: { 'reveal-id' => 'card-add-modal' }

    %h1.cyan You have #{current_virtual_currency.amount_in_currency(current_user.current_balance)} #{current_virtual_currency.currency_name}.

    %p Lifetime balance: #{current_virtual_currency.amount_in_currency(current_user.lifetime_balance)} #{current_virtual_currency.currency_name}

    %p Card Linked?: #{@user_has_account}

    - if @user_has_account
      %p Your Bank: #{@bank_account.bank_name}

      %p Your Card: #{@bank_account.account_name}
      = link_to 'Change', '#', data: {'reveal-id' => 'card-change-modal'}

    %p Email: #{current_user.email}

    - if current_user.can_redeem?
      = link_to 'Redeem', rewards_path

    #social-link-widget

    = render partial: 'accounts/recent_activity'

    #card-add-modal.reveal-modal.cf-modal
      %iframe{src: @card_link_url, style: 'height: 1000px; width: 100%;'}

    #card-change-modal.reveal-modal.cf-modal
      %iframe{src: @card_change_url, style: 'height: 1000px; width: 100%;'}

:javascript
  $(function() {
    Plink.conditionalCallback(
      window.location.search.match(/link_card=true/),
      function () {
      $('[data-reveal-id="card-add-modal"]').click();
      }
    )
  });
